parameters:
  ignoreErrors:
    - '/^Call to an undefined method duncan3dc\\ObjectIntruder\\Intruder::/'
    - '/^Call to protected method .* of class duncan3dc\\CacheTests\\CacheKeys/'
    - '/^Call to an undefined method duncan3dc\\CacheTests\\CacheCalls::/'

includes:
	- vendor/phpstan/phpstan-mockery/extension.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
